{% extends 'base.html.twig' %}

{% block title %}Listado de Usuarios{% endblock %}

{% block body %}
<div class="container-fluid">
    {% include ('usuario/menu.html.twig') %}
    <div class="card">
        <div class="card-header">
            <h1>Usuario index</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="offset-sm-6 offset-md-9 offset-lg-10 col-sm-6 col-md-3 col-lg-2">
                    <a href="{{ path('usuario_new') }}">
                        <button type="button" class="btn btn-success">
                            <i class="bi bi-plus-circle"></i>Agregar Usuario
                        </button>
                    </a>
                </div>
            </div>
            <div class="row">
                {% for label, messages in app.flashes(['success', 'warning']) %}
                    {% for message in messages %}
                        <div class="flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Correo electr&oacute;nico</th>
                        <th>Roles</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i, usuario in usuarios %}
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.roles ? usuario.roles|json_encode : '' }}</td>
                            <td>
                                <a href="{{ path('usuario_show', {'id': usuario.id}) }}" class="btn btn-info btn-sm">Ver</a>
                                <a href="{{ path('usuario_edit', {'id': usuario.id}) }}" class="btn btn-success btn-sm">Editar</a>
                                <a href="{{ path('usuario_delete', {'id': usuario.id}) }}" class="btn btn-danger btn-sm">Borrar</a>
                                <a href="{{ path('usuario_activar', {'id': usuario.id}) }}" class="btn btn-check btn-sm">Activar</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No se encontraron datos</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {# Paginador #}
        </div>
    </div>
</div>
{% endblock %}
