{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body %}
<div class="container-fluid">
    {% include ('usuario/menu.html.twig') %}
    <div class="card">
        <div class="card-header alert-info">
            <h1>Datos del Usuario</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="offset-md-1 col-sm-6 col-md-2">
                    Cedula:
                </div>
                <div class="col-sm-6 col-md-4">
                    {{ usuario.cedula }}
                </div>
            </div>
            <div class="row">
                <div class="offset-sm-1 col-sm-6 col-md-2">
                    Nombre:
                </div>
                <div class="col-sm-6 col-md-4">
                    {{ usuario.nombre }}
                </div>
                <div class="col-sm-6 col-md-1">
                    Apellido:
                </div>
                <div class="col-sm-6 col-md-4">
                    {{ usuario.apellido }}
                </div>
            </div>
            <div class="row">
                <div class="offset-md-1 col-sm-6 col-md-2">
                    Correo electr&oacute;nico:
                </div>
                <div class="col-sm-6 col-md-4">
                    {{ usuario.email }}
                </div>
            </div>
            <div class="row">
                <div class="offset-md-1 col-sm-6 col-md-2">
                    Roles:
                </div>
                <div class="col-sm-6 col-md-4">
                    {{ usuario.roles ? usuario.roles|json_encode : '' }}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{{ path('usuario_index', {'pag': 1}) }}" class="btn btn-secondary">
                    Regresar
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
