{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="offset-1 col-sm-10 col-md-10 col-lg-10">
                <form method="post">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-1">
                            <label for="email">Login: </label>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-9">
                            <input type="email" name="email" id="email" value="{{ last_username }}" class="form-control"
                                placeholder="correo@dominio.com" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-1">
                            <label for="password">Login: </label>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-9">
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <button class="btn btn-lg btn-primary" type="submit" name="btnAceptar" id="btnAceptar">Aceptar</button>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <button class="btn btn-lg btn-danger" type="reset" name="btnReset" id="btnReset">Limpiar</button>
                        </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}