<div class="row">
    <div class="col-sx-4 col-sm-4 col-lg-4 col-xg-4">
    </div>
    <div class="col-sx-4 col-sm-4 col-lg-4 col-xg-4">
        <!-- Botones de navegación -->
        <ul class="pagination align-content-center">
            {% if (paginaActual-1)>0 %}
                <li><a href="{{ path('reporte_index', {'pag': (paginaActual-1)}) }}" class="btn btn-light">&laquo;</a></li>
            {% endif %}
            {% if total > 0 %}
                {% for i in 1..total %}
                    {% if paginaActual == i %}
                        <li><a href="{{ path('reporte_index', {'pag': i}) }}" class="btn btn-dark">{{ i }}</a> </li>
                    {% else %}
                        <li><a href="{{ path('reporte_index', {'pag': i}) }}" class="btn btn-light">{{ i }}</a> </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if (paginaActual+1)<=total %}
                <li><a href="{{ path('reporte_index', {'pag': (paginaActual+1)}) }}" class="btn btn-light">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="col-sx-4 col-sm-4 col-lg-4 col-xg-4">
        <div class="align-content-end">
            Total de registros: {{ asistencias|length }}
        </div>
    </div>
</div>