{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="nav">
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link btn-outline-info" href="{{ path('usuario_index', {'pag': 1}) }}">Usuarios</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link btn-outline-info active" aria-current="page" href="{{ path('empleado_index', {'pag': 1}) }}">Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-outline-info" href="{{ path('asistencia_index', {'pag': 1}) }}">Asistencias</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="btn dropdown-toggle nav-link btn-outline-info" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Reportes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('reporte_index', {'pag': 1}) }}">Reportes por mes</a></li>
                        <li><a class="dropdown-item" href="{{ path('reporte_search') }}">Buscar Reporte</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Boton de opciones de sesion -->
        <div class="btn-group">
            <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{ app.user.nombre }} {{ app.user.apellido }}
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endif %}
