{{ form_start(form) }}
<div class="card-body">
    <div class="row">
        <div class="col-sx-12 col-sm-12 offset-md-8 col-md-2 col-lg-2">
            <div class="mb-1">
                Fecha actual: {{ "now"|date("d/m/Y") }}
            </div>
        </div>
    </div>
    {% include('messages/messages.html.twig') %}
    <div class="card">
        <div class="card-header alert-info">
            <h2>Información del empleado</h2>
        </div>
        <div class="card-body">
            <div class="row mb-1">
                <div class="col-sx-6 col-sm-6 offset-md-1 col-md-2 col-lg-2">
                    Cedula:
                </div>
                <div class="col-sx-6 col-sm-6 col-md-2 col-lg-2">
                    {{ asistencia.empleado.cedula }}
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-sx-6 col-sm-6 offset-md-1 col-md-2 col-lg-2">
                    Nombre:
                </div>
                <div class="col-sx-6 col-sm-6 col-md-2 col-lg-2">
                    {{ asistencia.empleado.nombre|upper }}
                </div>
                <div class="col-sx-6 col-sm-6 col-md-2 col-lg-2">
                    Apellido:
                </div>
                <div class="col-sx-6 col-sm-6 col-md-2 col-lg-2">
                    {{ asistencia.empleado.apellido|upper }}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sx-6 col-sm-6 offset-md-1 col-md-2 col-lg-2">
            Fecha de la asistencia:
        </div>
        <div class="col-sx-6 col-sm-6 col-md-4 col-lg-3">
            {{ asistencia.fecha|date("d/m/Y") }}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sx-6 col-sm-6 offset-md-1 col-md-2 col-lg-2">
            Hora de Entrada:
        </div>
        <div class="col-sx-6 col-sm-4 col-md-2 col-lg-2">
            <div class="input-group mb-3">
                {{ asistencia.horaEntrada|date("h:i") }}
            </div>
        </div>
        <div class="col-sx-6 col-sm-12 col-md-5 col-lg-3">
            <small>El horario de oficina comienza a las 08:00</small>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sx-6 col-sm-6 offset-md-1 col-md-2 col-lg-2">
            {{ form_label(form.horaSalida) }}
        </div>
        <div class="col-sx-6 col-sm-4 col-md-2 col-lg-2">
            <div class="input-group mb-3">
                {{ form_widget(form.horaSalida.hour, { 'attr': {'class': 'form-control'} }) }}
                <span class="input-group-text">:</span>
                {{ form_widget(form.horaSalida.minute, { 'attr': {'class': 'form-control'} }) }}
            </div>
            {{ form_errors(form.horaSalida) }}
        </div>
        <div class="col-sx-6 col-sm-12 col-md-5 col-lg-3">
            <small>El horario de oficina termina a las 17:00</small>
        </div>
    </div>
</div>
<div class="card-footer alert-primary">
    <div class="row">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary" name="btnGuardar" id="btnGuardar" >
                Guardar
            </button>
            <a href="{{ path('asistencia_index', {'pag': 1}) }}" class="btn btn-secondary" name="btnRegresar" id="btnRegresar">
                <i class="bi bi-back"></i>Regresar
            </a>
        </div>
    </div>
</div>
{{ form_end(form) }}